/*--------------------------------*/
/*BASIC SETUP*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Courgette', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1400px;
    margin: 0 auto;
}

/*---------------------------------------*/
/*********** NAVIGATION - LOGO ***********/
/*---------------------------------------*/

.ekszerek-nav {
    border-bottom: 0.1px solid #fbf7f7;
    text-align: center;
    margin-top: 20px
}

.ekszerek-logo-black {
    height: 100px;
    width: auto;
    text-align: center;
}

/*---------------------------------------*/
/*************** MAIN - NAV **************/
/*---------------------------------------*/

.collection {
    float: inherit;
    list-style: none;
    text-align: center;
}

.collection li {
    display: inline-block;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 3%;
}

.collection li a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.5s;
}

.collection li:hover {
    border-bottom: 1px solid #cfcfcf;
}

/*-------------------------------------------*/
/*************** CURRENT - PAGE **************/
/*-------------------------------------------*/

.current__page{
    border-bottom: 1px solid #cfcfcf;

}









































