/*--------------------------------*/
/*BASIC SETUP*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Courgette', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1050px;
    margin: 0 auto;
}

/*---------------------------------------*/
/*********** NAVIGATION - LOGO ***********/
/*---------------------------------------*/

.ekszerek-nav {
    border-bottom: 0.1px solid #f7f7f7;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ekszerek-logo-black {
    height: 100px;
    width: auto;
    text-align: center;
}

/*---------------------------------------*/
/*************** MAIN - NAV **************/
/*---------------------------------------*/

.collection {
    float: inherit;
    list-style: none;
    text-align: center;
}

.collection li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 3%;
}

.collection li a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #f7f7f7;
    transition: border-bottom 0.5s;
}

.collection li:hover {
    border-bottom: 1px solid #cfcfcf;
}

/*-------------------------------------------*/
/*************** CURRENT - PAGE **************/
/*-------------------------------------------*/

.current__page {
    /*border-bottom: 1px solid #cfcfcf;*/
}

/*-------------------------------------------*/
/****************** JEWELRY ******************/
/*-------------------------------------------*/
.jewelry__row {
    text-align: center;
    margin-bottom: 40px;
}

.collection__name {
    text-align: center;
    margin-bottom: 3%;
    font-size: 25px;
}

.collection__pictures {
    position: relative;
    text-align: center;
    margin: 5px;
}

.collection__pictures img {
    width: 75%;
    height: auto;
}

/*----------------------------------------------------------*/
/****************** JEWELRY - NAME - PRICE ******************/
/*----------------------------------------------------------*/
.jewelry__name-price {
    text-align: left;
    margin-left: 12%;
    margin-top: 20px;
}

.jewelry__name-price a {
    text-decoration: none;
}

.jw__name {
    color: black;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 90%;
}

.jw__price {
    font-weight: bold;
    font-size: 80%;
}
/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


footer {
    background: #f7f7f7;
    padding: 16px;
    font-size: 80%;
    border-top: 1px solid #e8e8e8;
    margin-top: 20px;
}

.social-icons {
    list-style: none;
    float: right;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child {
    margin: 0;
}

.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #000;
    transition: color 0.3s;
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-instagram {
    transition: color 0.4s;
}

.ion-social-facebook:hover,
.ion-social-instagram:hover {
    color: #1b1b1b;
}

/*--------------------------------*/
/********** COMPANY NAME **********/
/*--------------------------------*/

.footer__company {
    font-size: 80%;
    color: black;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
}

.company__name {
    cursor: pointer;
    transition: font-size 0.3s;
}

.company__name:hover {
    font-size: 102%;
    font-weight: 600;
    transition: font-size 0.5s;
}

.company-title {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #cfcfcf;
}






































