/*--------------------------------*/
/*BASIC SETUP*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Courgette', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section {
    padding: 10px 0;
}

li {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1400px;
    margin: 0 auto;
}

h2 {
    margin: 0 auto;
    padding: 0;
}

/*--------------------------------*/
/********** HEADER - NAV **********/
/*--------------------------------*/

.header-nav {
    float: inherit;
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

.header-nav li {
    display: inline-block;
    margin-top: 25px;
}

.header-nav li a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

li:first-child {
    margin-right: 21%;
}

li:last-of-type {
    margin-left: 22%;
}

.logo-black {
    height: 100px;
    width: auto;
    /*float: left;*/
}

/*A Line under the Menu*/

.menu::after {
    display: block;
    height: 1px;
    background-color: black;
    content: " ";
    width: 250px;
    margin: 0 auto;
    margin-top: 22px;
}

/*--------------------------------------*/
/********** PICTURES - SECTION **********/
/*--------------------------------------*/

.pictures {
    padding: 0;
    margin-top: 3%;
}

.pictures:after {
    display: block;
    height: 1px;
    background-color: black;
    content: " ";
    width: 250px;
    margin: 0 auto;
    margin-top: 220px;
}

.pictures__first-column,
.pictures__second-column,
.pictures__third-column {
    text-align: center;
}


.pictures__first-column img,
.pictures__third-column img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, .101);
}

.pictures__second-column {
    width: 30%;
}

.bottom {
    vertical-align: bottom;
}

/*------------------------------------------*/
/********** PICTURES - NEW JEWELRY **********/
/*------------------------------------------*/
.new__jewelry {
    position: relative;
}

.new__jewelry span,
.new__jewelry-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.new__jewelry-price {
    top: 90%;
    left: 70%;
    font-size: 15px;
}

.new__jewelry:hover a{
    opacity: 0.15;
    transition: opacity 0.5s;
}

.new__jewelry:hover span,
.new__jewelry:hover p {
    display: block;
}

/*--------------------------------------*/
/*********** PICTURES - SLIDE ***********/
/*--------------------------------------*/
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    margin-top: 5%;
}

.slideshow-container img {
    width: 120%;
    margin-left: -9%;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*--------------------------------------*/
/********* SECTION - COLLECTION *********/
/*--------------------------------------*/

.collection {
    margin-top: 3%;
    margin-bottom: 3%;
}

.collection__name {
    text-align: center;
    margin-bottom: 3%;
    font-size: 25px;
}

.collection__pictures {
    position: relative;
    text-align: center;
    margin: 5px;
}

.collection__pictures img {
    width: 100%;
    height: auto;
}

.collection__pictures span {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection__pictures figure:hover a {
    opacity: .15;
    transition: transform 0.5s, opacity 0.5s;
}

.collection__pictures figure:hover span {
    color: #000;
}

/*--------------------------------------------------------------------------*/
/***************************** SECTION - ABOUT ME ***************************/
/*-------------------------------------------------------------------------*/

.about__me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero_3-min.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 
    background-attachment: inherit;
}

.about__me-first-column,
.about__me-second-column {
    position: relative;
    ;
}

.about__me-content {
    position: absolute;
    text-align: center;
    width: 80%;
    margin-top: 15%;
    margin-left: 10%
}

.about__me-title {
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 10px 0;
    margin-top: 5%;
}

.about__me-text {
    color: white;
    text-align: justify;
    font-size: 20px;
}

/*-------------------------------------------------------------------*/
/***************************** EMAIL FORM ****************************/
/*-------------------------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    margin-top: 20%;
    margin-left: 10%
}

label {
    color: white;
    font-size: 20px;
}

input[type=text],
input[type=email],
textarea {
    width: 150%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none
}

/*-------------------------------------------------------------*/
/************************ SEND BUTTON **************************/
/*-------------------------------------------------------------*/

input[type=submit] {
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    padding: 2px 0;
    width: 100px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    transition: color 0.3s, background-color 0.3s;
}

input[type=submit]:hover {
    color: #000;
    background-color: #fff;
}

/*-------------------------------------------------------------*/
/************************ FORM MESSAGES ************************/
/*-------------------------------------------------------------*/

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 20px;
    color: #fff;
    display: none;
}

.success {
    background-color: rgba(100, 219, 128, 0.6);
}

.error {
    background-color: rgba(230, 51, 51, 0.61);
}

/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


footer {
    background: #f7f7f7;
    padding: 16px;
    font-size: 80%;
}

.social-icons {
    list-style: none;
    float: right;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child {
    margin: 0;
}

.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #000;
    transition: color 0.3s;
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-instagram {
    transition: color 0.4s;
}

.ion-social-facebook:hover,
.ion-social-instagram:hover {
    color: #1b1b1b;
}

/*--------------------------------*/
/********** COMPANY NAME **********/
/*--------------------------------*/

.footer__company {
    font-size: 80%;
    color: black;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
}

.company__name {
    cursor: pointer;
    transition: font-size 0.3s;
}

.company__name:hover {
    font-size: 102%;
    font-weight: 600;
    transition: font-size 0.5s;
}

.company-title {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #cfcfcf;
}

