/*
color 2: #f7f7f7;
h2: betű linkek alap színe: #1b1b1b;
*/

/* ----------------------------MOBILE NAVI -------------------------*/

.mobile-nav-icon {
    display: none;
    position: absolute;
    font-size: 75%;
    top: 90%;
    left: 90%;
    padding: 10px 10px;
    border: 1px solid #f7f7f7;
    border-radius: 50px;

}

.mobile-nav-icon i {
    font-size: 200%;
    color: #f7f7f7;
}

/* STICKY NAVI */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.96);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin: 0;
}

.sticky .main-nav li {
    margin-top: 15px;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {

    color: #000;
    /*#555 - ezt állítottam be eredetileg*/
    border-bottom: none;
}

.sticky .logo-black {
    display: block;
}
