/*
color: #fdf1db;
color 2: #f7f7f7;
h2: betű linkek alap színe: #1b1b1b;
*/

/*--------------------------------*/
/*BASIC SETUP*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
    font-family: 'Kaushan Script', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*MINDEN SECTION TETEJÉN ÉS ALJÁN ENNYI A TÁVOLSÁG*/

section {
    padding: 10px 0;
}

/*--------------------------------*/
/*Resuable Components*/
/*--------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    margin: 40px 0;
    /* ITT MINDEN H2 ELŐTT ÉS UTÁN 20PX HAGY*/
    color: #000;
    font-size: 280%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}

.cim {
    font-size: 210%;
}

/* -------- Buttons ------- */

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/hero_3-min.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    position: absolute;
    height: 500px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* -----------------------------MAIN NAVI -------------------------*/
.main-nav {
    float: inherit;
    list-style: none;
    text-align: center;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 85px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fdf1db;
}

/* ----------------------------MOBILE NAVI -------------------------*/

.mobile-nav-icon {
    display: none;
    position: absolute;
    font-size: 75%;
    top: 90%;
    left: 90%;
    padding: 10px 10px;
    border: 1px solid #f7f7f7;
    border-radius: 50px;

}

.mobile-nav-icon i {
    font-size: 200%;
    color: #f7f7f7;
}

/* STICKY NAVI */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.96);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin: 0;
}

.sticky .main-nav li {
    margin-top: 15px;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {

    color: #000;
    /*#555 - ezt állítottam be eredetileg*/
    border-bottom: none;
}

.sticky .logo-black {
    display: block;
}

/*--------------------------------*/
/*SECTION - ÚJDONSÁG*/
/*--------------------------------*/

.section-ujdonsag {
    /*background-color: #f7f7f7; #EDE8D3*/
    background-color: #fff;
    /*ITT ÁLLÍTOM BE HOGY AZ ALATTA LÉVŐ SECTION ÉS KÖZTE MEKKORA LEGYEN A TÁVOLSÁGA, viszont akkor ennek nem lesz színe*/
    padding-bottom: 30px;
}

.ujdonsag-box {
    text-align: center;
}

.ujdonsag-box img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0px 2px 2px #000;
    transform: scale(1.01);
    transition: transform 0.5s, opacity 0.5s;
}

.ujdonsag-box img:hover {
    opacity: 1;
    transform: scale(1.05);
}


/*--------------------------------*/
/* NŐI - ÉKSZEREK SECTION*/
/*--------------------------------*/

.noi:after {
    background-color: rgba(0, 0, 0, 0);
}


/*--------------------------------*/
/*ÉKSZEREK*/
/*--------------------------------*/

.ekszerek {
    /*padding-top: 20px;*/
    /*background-color: #CDC9BC;*/
    background-color: #f7f7f7;
    padding-bottom: 30px;
}

.ekszer-box {
    text-align: center;
    /* Ha ezt állítom be akkor a szöveget teszi középre*/
}

.ekszer-box img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 1;
    box-shadow: 0px 2px 8px #000;
    transform: scale(1.01);
    transition: transform 0.3s, opacity 0.5s, box-shadow 0.5s;
}

.ekszer-box img:hover {
    opacity: 0.95;
    transform: scale(1.03);
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.5s;
}

/* ÉKSZEREK LINKJEI*/

.ekszer-link {
    text-decoration: none;
}


.ekszer-link img {
    border-radius: 5px;
}

.ekszer-link:link,
.ekszer-link:visited {
    color: #000;
    font-size: 100%;
    transition: color 0.5s, border-bottom 0.7s;
}

.ekszer-link:hover {
    font-size: 100%;
    color: #555;
    transition: color 0.5s, border-bottom 0.7s;
}


/*--------------------------------*/
/**** FÉRFI - ÉKSZEREK SECTION ****/
/*--------------------------------*/

.ferfi-ekszerek {
    /*background-color: #f7f7f7; #EDE8D3*/
    background-color: #fff;
    /*border-bottom: 0.3px solid rgba(85, 85, 85, 0.2);*/
    padding-bottom: 30px
}

/* Animáció */

.js--wp-1 {
    opacity: 0;
    animation-duration: 2s;
}

.js--wp-1.animated {
    opacity: 1;
}

/*--------------------------------*/
/*EGYEDI KÉSZÍTÉSŰ ÉKSZEREK*/
/*--------------------------------*/

.rolam--section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(img/talisman.jpeg);
    background-size: cover;
    position: relative;
    background-position: center;
    height: 650px;
    /*background-attachment: fixed;*/
}

.egyedi {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rolam-cim {
    color: #ffffff;
}

.bemutatkozo--szoveg {
    color: #fff;
    text-align: center;
}

/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


footer {
    background: #fff;
    /*background: #CDC9BC;*/
    padding: 16px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #000;
    transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #1b1b1b;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-instagram {
    transition: color 0.4s;
}


.ion-social-facebook:hover {
    color: #1b1b1b;
}

.ion-social-instagram:hover {
    color: #1b1b1b;
}

footer p {
    font-size: 80%;
    color: black;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}



/* ----------------------- */
/* -- NOI EKSZEREK HTML -- */
/* ----------------------- */

/* ------ BETÜK ------ */

.ekszerek-h2 {
    font-size: 200%;
    margin: 0;
    padding: 0;
    color: #1b1b1b;
    padding-top: 25px;
}

.ekszer--nev--ar {
    margin-top: 40px;
    font-weight: 10;
    font-size: 130%;
}

/* ------ NAV ------ */

.ekszerek-nav {
    border-bottom: 0.1px solid #fbf7f7;
}

.ekszerek-logo-black {
    height: 100px;
    width: auto;
    float: left;
    margin-bottom: 15px;
}

/* ------ NŐI ÉKSZEREK GYURMÁK ------ */


.ekszerek-elsosor {
    margin: 20px auto;
}

.ekszerek-masodik-sor {
    margin-bottom: 40px;
    margin-left: 31%;
}

.ekszerek-elsosor::after {
    display: block;
    height: 2px;
    background-color: #fbf7f7;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 420px;
}

/*************************************/
/*ha elkell az árú akkkor opacityt 0.5re állítjuk
    Itt az árnyék magára az egész divre vonatkozik, 
    mert nem akartam szétbarmolni az egész ekszer-box css kódot!!!!!!!!!!!!!!!!!*/
/*************************************/

#eladva img {
    opacity: 0.5;
}

/* ------ ÖNÁLLÓ ÉKSZER - KÉPEK + ADATOK ------ */

.angyal-box img {
    width: 64%;
    height: auto;
    margin-left: 0px;
    float: left;
    margin-right: 30px;
    transition: 0.5s;
    border-radius: 5px;
}

.egymas-alatt {
    padding-left: 25%;
}

.egymas-alatt img {
    width: 27.7%;
    height: auto;
    float: left;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity 0.5s;
}

/*A képek legyenek kicsit halványabbak, de szerintem így sokkal menőbb*/
/*
.egymas-alatt img:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}
*/

.vl {
    border-left: 1.5px solid #1b1b1b;
    height: 200px;
    position: absolute;
    left: 49%;
    margin-left: -3px;
    top: 275px;
}

.ekszer-erteke {
    text-align: center;
}

.hr-kicsi {
    margin: 10px auto;
    width: 50px;
}

.ekszer-reszletek__1 {
    margin-top: 0px;
}

.ekszer-reszletek:last-child,
.ekszer-reszletek {
    padding-top: 15px;
}

/* ------ LOGO Formázás ------ */

.ekszerek-logo-black {
    transition: 0.5s;
}


.ekszerek-logo-black:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

/* ------ FELUGRÓ KÉP FORMÁZÁSA ------ */

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 460px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 315px;
    width: auto;
    padding: 26px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------------*/
/**** Szöveget teszünk a képre ****/
/*--------------------------------*/

.container {
    position: relative;
    color: white;
}

.collection--title {
    position: absolute;
    font-family: 'Courgette';
    font-size: 200%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
